body {
  background:white;
  margin-top: 0px;
  font-family:sans-serif;
  font-size: 14px;
}
.card{
  padding:15px 30px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px 1px grey;
  }
.has-float-label input:focus,
.has-float-label textarea:focus{
  border-color: #CE1815;
  box-shadow: none;
}
